name: Build Push Changes
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Android SDK tools
        run: echo "$ANDROID_HOME/build-tools/30.0.3" >> $GITHUB_PATH

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build Mod Jar
        run: |
          chmod +x gradlew
          ./gradlew deploy

      - uses: actions/upload-artifact@v4
        with:
          name: Unzip-me
          path: build/tmp/deploy/*.jar